<div class="container">
  <h1>Todo Application</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <form name="add" ng-submit="$ctrl.addTodo()">
          <input type="text" ng-model="$ctrl.newTodo" class="form-control" placeholder="what's to be done?">
          <input type="submit" class="hidden" />
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li ng-repeat="item in :todo:$ctrl.todos track by $index" ng-bind="::item"></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        Counter: <span ng-bind=":counter:$ctrl.counter"></span>
      </div>
      <div class="form-group">
        Name: <span ng-bind=":name:$ctrl.name"></span>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" ng-click="$ctrl.increment()">increment</button>
        <button class="btn btn-primary" ng-click="$ctrl.changeName()">change name</button>
      </div>
    </div>
  </div>
</div>
